---
const pageTitle = "About Me";
const identity = {
    firstname: "Bill",
    lastName: "Nye",
    country: "Canada",
    occupation: "Writer",
    hobbies: ["Writing", "Drawing", "Birding"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">HOME</a>
        <a href="/about/">ABOUT</a>
        <a href="/blog/">BLOG</a>
		<h1>Astro</h1>
		<h1>{pageTitle}</h1>
        <br/>
        <p>This page is an about page.</p>
        <ul>
            <li>My name is {identity.firstname}</li>
            <li>I live in {identity.country}and I work as {identity.occupation}</li>
            {identity.hobbies.length >=2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>
	</body>
</html>
